/*** FONTS  ***/


h1,
h2,
h3,
h4,
h5,
h6,
dl,
ul,
p {
  font-family: 'Roboto Mono', sans-serif;
  line-height: normal;
  font-size: larger;
}
blockquote {
	border-left: 8px $dark-gray-color  solid;
    padding-left: 8px;
    font-size: xx-large;
}