{% include head.html %}
<body>
    <div class="main-header">
        {% include header_main.html %}
        {% include navigation.html %}
    </div>
    <main id="main">

        <!-- Portfolio Section -->
        <h1 class="main-title">PROJECTS</h1>
        <section class="container-section fade-in">
            {% for post in site.categories.projects %}
            <div class="card">
                <h2>{{ post.company }}</h2>      
                <h3>{{ post.project }}</h3>
                <div class="card-content">
                    <img class="image-portfolio" src="{{ post.img-preview }}" alt="image" 
                             id="{{ "-modal-button" | prepend: forloop.index }}">
                </div>
                <h4>{{ post.type }}</h4>      
                <div class="card-bottom">
                    <p>{{ post.description }}</p>
                    <button><a href="{{ post.url }}">SEE MORE</a></button>
                </div>
            </div>
            {% endfor %}
        </section>

    </main>
    {% include footer.html %}
</body>
<script src="/assets/js/modal.js"></script>
<script src="/assets/js/resizecards.js"></script>
<script src="/assets/js/externallinks.js"></script>
</html>